h1{background: skyblue;text-align: center; margin: auto;width: 233px;height: auto;}
form{background-color: greenyellow;margin: auto; border: 2px solid; width: 13%;;}
nav {background-color: aliceblue;text-align: center;margin: auto; border: auto; width: 10%;}